name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-test:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t flask-app -f docker/Dockerfile .

      - name: Run container (smoke test)
        run: |
          docker run -d --name flask_test -p 5000:5000 flask-app
          sleep 3
          curl -f http://localhost:5000/health
          docker rm -f flask_test
       
            - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: project-files
          path: |
            docker-compose.yml
            docker/
            app/
            README.md
